# Server
BACKEND_PORT=3001
BACKEND_HOST=0.0.0.0

# CORS
CORS_ORIGIN=http://localhost:3000

# Mediasoup
MEDIASOUP_ANNOUNCED_IP=
ANNOUNCED_IP_V4=
ANNOUNCED_IP_V6=

# NDI Bridge
NDI_BRIDGE_ENABLED=false
PLAIN_TRANSPORT_PORT_RANGE_START=20000
PLAIN_TRANSPORT_PORT_RANGE_END=21000
